In [9]:
import os
import pandas as pd
import numpy as np

### Local

In [2]:
financials_df = pd.read_csv("train_files/financials.csv")
options_df = pd.read_csv("train_files/options.csv")
secondary_stock_prices_df = pd.read_csv("train_files/secondary_stock_prices.csv")
stock_prices_df = pd.read_csv("train_files/stock_prices.csv")
trades_df = pd.read_csv("train_files/trades.csv")
stocks_df = pd.read_csv("stock_list.csv")

C:\Users\GARIZA~1\AppData\Local\Temp/ipykernel_15828/1570790249.py:1: DtypeWarning: Columns (14,15,16,17,18,19,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  financials_df = pd.read_csv("train_files/financials.csv")
C:\Users\GARIZA~1\AppData\Local\Temp/ipykernel_15828/1570790249.py:2: DtypeWarning: Columns (7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  options_df = pd.read_csv("train_files/options.csv")

### Kaggle

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
financials_df = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/financials.csv")
options_df = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/options.csv")
secondary_stock_prices_df = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/secondary_stock_prices.csv")
stock_prices_df = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/stock_prices.csv")
trades_df = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/train_files/stock_prices.csv")
stocks_df = pd.read_csv("/kaggle/input/jpx-tokyo-stock-exchange-prediction/stock_list.csv")

## 1. Data description

### Stocks

In [3]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4417 entries, 0 to 4416
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SecuritiesCode          4417 non-null   int64
 1   EffectiveDate           4417 non-null   int64
 2   Name                    4417 non-null   object
 3   Section/Products        4417 non-null   object
 4   NewMarketSegment        3772 non-null   object
 5   33SectorCode            4417 non-null   object
 6   33SectorName            4417 non-null   object
 7   17SectorCode            4417 non-null   object
 8   17SectorName            4417 non-null   object
 9   NewIndexSeriesSizeCode  4417 non-null   object
 10  NewIndexSeriesSize      4417 non-null   object
 11  TradeDate               4121 non-null   float64
 12  Close                   4121 non-null   float64
 13  IssuedShares            4121 non-null   float64
 14  MarketCapitalization    4121 non-null   float64
 15  Universe0               4417 non-null   bool
dtypes: bool(1), float64(4), int64(2), object(9)
memory usage: 522.1+ KB

In [8]:
stocks_df.head()

,SecuritiesCode,EffectiveDate,Name,Section/Products,NewMarketSegment,33SectorCode,33SectorName,17SectorCode,17SectorName,NewIndexSeriesSizeCode,NewIndexSeriesSize,TradeDate,Close,IssuedShares,MarketCapitalization,Universe0
0,1301,20211230,"KYOKUYO CO.,LTD.",First Section (Domestic),Prime Market,50,"Fishery, Agriculture and Forestry",1,FOODS,7,TOPIX Small 2,20211230.0,3080.0,1.092828e+07,3.365911e+10,True
1,1305,20211230,Daiwa ETF-TOPIX,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2097.0,3.634636e+09,7.621831e+12,False
2,1306,20211230,NEXT FUNDS TOPIX Exchange Traded Fund,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2073.5,7.917718e+09,1.641739e+13,False
3,1308,20211230,Nikko Exchange Traded Index Fund TOPIX,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,2053.0,3.736943e+09,7.671945e+12,False
4,1309,20211230,NEXT FUNDS ChinaAMC SSE50 Index Exchange Trade...,ETFs/ ETNs,NaN,-,-,-,-,-,-,20211230.0,44280.0,7.263200e+04,3.216145e+09,False

In [17]:
stocks_df["33SectorName"].value_counts()

Information & Communication                      551
Services                                         521
-                                                500
Retail Trade                                     359
Wholesale Trade                                  320
Electric Appliances                              255
Machinery                                        230
Chemicals                                        218
Construction                                     170
Real Estate                                      143
Foods                                            125
Other Products                                   116
Transportation Equipment                          95
Banks                                             93
Metal Products                                    90
Pharmaceutical                                    77
Land Transportation                               62
Glass and Ceramics Products                       56
Textiles and Apparels                             52
Precision Instruments                             50
Securities and Commodities Futures                44
Iron and Steel                                    44
Warehousing and Harbor Transportation Service     39
Other Financing Business                          38
Nonferrous Metals                                 36
Electric Power and Gas                            25
Pulp and Paper                                    24
Rubber Products                                   19
Insurance                                         15
Oil and Coal Products                             13
Marine Transportation                             13
Fishery, Agriculture and Forestry                 12
Mining                                             7
Air Transportation                                 5
Name: 33SectorName, dtype: int64

### Financials

In [4]:
financials_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92956 entries, 0 to 92955
Data columns (total 45 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   DisclosureNumber                                                              92954 non-null  float64
 1   DateCode                                                                      92954 non-null  object
 2   Date                                                                          92956 non-null  object
 3   SecuritiesCode                                                                92954 non-null  float64
 4   DisclosedDate                                                                 92954 non-null  object
 5   DisclosedTime                                                                 92954 non-null  object
 6   DisclosedUnixTime                                                             92954 non-null  float64
 7   TypeOfDocument                                                                92954 non-null  object
 8   CurrentPeriodEndDate                                                          92954 non-null  object
 9   TypeOfCurrentPeriod                                                           92954 non-null  object
 10  CurrentFiscalYearStartDate                                                    92954 non-null  object
 11  CurrentFiscalYearEndDate                                                      92954 non-null  object
 12  NetSales                                                                      75448 non-null  object
 13  OperatingProfit                                                               73446 non-null  object
 14  OrdinaryProfit                                                                75328 non-null  object
 15  Profit                                                                        75380 non-null  object
 16  EarningsPerShare                                                              74958 non-null  object
 17  TotalAssets                                                                   75433 non-null  object
 18  Equity                                                                        75431 non-null  object
 19  EquityToAssetRatio                                                            74739 non-null  object
 20  BookValuePerShare                                                             35773 non-null  object
 21  ResultDividendPerShare1stQuarter                                              74380 non-null  object
 22  ResultDividendPerShare2ndQuarter                                              55940 non-null  object
 23  ResultDividendPerShare3rdQuarter                                              37677 non-null  object
 24  ResultDividendPerShareFiscalYearEnd                                           19416 non-null  object
 25  ResultDividendPerShareAnnual                                                  19415 non-null  object
 26  ForecastDividendPerShare1stQuarter                                            19241 non-null  object
 27  ForecastDividendPerShare2ndQuarter                                            42619 non-null  object
 28  ForecastDividendPerShare3rdQuarter                                            60807 non-null  object
 29  ForecastDividendPerShareFiscalYearEnd                                         79021 non-null  object
 30  ForecastDividendPerShareAnnual                                                79022 non-null  object
 31  ForecastNetSales                                                              82842 non-null  object
 32  ForecastOperatingProfit                                                       81083 non-null  object
 33  ForecastOrdinaryProfit                                                        82718 non-null  object
 34  ForecastProfit                                                                83856 non-null  object
 35  ForecastEarningsPerShare                                                      82842 non-null  object
 36  ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements                 7249 non-null   object
 37  MaterialChangesInSubsidiaries                                                 64504 non-null  object
 38  ChangesBasedOnRevisionsOfAccountingStandard                                   74895 non-null  object
 39  ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard                      74895 non-null  object
 40  ChangesInAccountingEstimates                                                  74126 non-null  object
 41  RetrospectiveRestatement                                                      70396 non-null  object
 42  NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock  74918 non-null  object
 43  NumberOfTreasuryStockAtTheEndOfFiscalYear                                     74918 non-null  object
 44  AverageNumberOfShares                                                         74349 non-null  object
dtypes: float64(3), object(42)
memory usage: 31.9+ MB

In [10]:
financials_df.head()

,DisclosureNumber,DateCode,Date,SecuritiesCode,DisclosedDate,DisclosedTime,DisclosedUnixTime,TypeOfDocument,CurrentPeriodEndDate,TypeOfCurrentPeriod,...,ForecastEarningsPerShare,ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements,MaterialChangesInSubsidiaries,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares
0,2.016121e+13,20170104_2753,2017-01-04,2753.0,2017-01-04,07:30:00,1.483483e+09,3QFinancialStatements_Consolidated_JP,2016-12-31,3Q,...,319.76,NaN,False,True,False,False,False,6848800.0,－,6848800.0
1,2.017010e+13,20170104_3353,2017-01-04,3353.0,2017-01-04,15:00:00,1.483510e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,485.36,NaN,False,True,False,False,False,2035000.0,118917,1916083.0
2,2.016123e+13,20170104_4575,2017-01-04,4575.0,2017-01-04,12:00:00,1.483499e+09,ForecastRevision,2016-12-31,2Q,...,-93.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.017010e+13,20170105_2659,2017-01-05,2659.0,2017-01-05,15:00:00,1.483596e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,285.05,NaN,False,True,False,False,False,31981654.0,18257,31963405.0
4,2.017011e+13,20170105_3050,2017-01-05,3050.0,2017-01-05,15:30:00,1.483598e+09,ForecastRevision,2017-02-28,FY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Options

In [5]:
options_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3567694 entries, 0 to 3567693
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   DateCode             object
 1   Date                 object
 2   OptionsCode          int64
 3   WholeDayOpen         float64
 4   WholeDayHigh         float64
 5   WholeDayLow          float64
 6   WholeDayClose        float64
 7   NightSessionOpen     object
 8   NightSessionHigh     object
 9   NightSessionLow      object
 10  NightSessionClose    object
 11  DaySessionOpen       float64
 12  DaySessionHigh       float64
 13  DaySessionLow        float64
 14  DaySessionClose      float64
 15  TradingVolume        int64
 16  OpenInterest         int64
 17  TradingValue         int64
 18  ContractMonth        int64
 19  StrikePrice          float64
 20  WholeDayVolume       int64
 21  Putcall              int64
 22  LastTradingDay       int64
 23  SpecialQuotationDay  int64
 24  SettlementPrice      float64
 25  TheoreticalPrice     float64
 26  BaseVolatility       float64
 27  ImpliedVolatility    float64
 28  InterestRate         float64
 29  DividendRate         float64
 30  Dividend             float64
dtypes: float64(16), int64(9), object(6)
memory usage: 843.8+ MB

In [11]:
options_df.head()

,DateCode,Date,OptionsCode,WholeDayOpen,WholeDayHigh,WholeDayLow,WholeDayClose,NightSessionOpen,NightSessionHigh,NightSessionLow,...,Putcall,LastTradingDay,SpecialQuotationDay,SettlementPrice,TheoreticalPrice,BaseVolatility,ImpliedVolatility,InterestRate,DividendRate,Dividend
0,20170104_132010018,2017-01-04,132010018,650.0,650.0,480.0,480.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,480.0,478.4587,17.4736,17.5865,0.0091,0.0,0.0
1,20170104_132010118,2017-01-04,132010118,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,575.0,571.1385,17.4736,16.5000,0.0091,0.0,0.0
2,20170104_132010218,2017-01-04,132010218,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,680.0,677.3710,17.4736,15.8644,0.0091,0.0,0.0
3,20170104_132010318,2017-01-04,132010318,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,795.0,791.0383,17.4736,15.2288,0.0091,0.0,0.0
4,20170104_132010518,2017-01-04,132010518,0.0,0.0,0.0,0.0,0.0000,0.0000,0.0000,...,1,20170112,20170113,910.0,909.9947,17.4736,14.5932,0.0091,0.0,0.0

### Secondary stock prices

In [6]:
secondary_stock_prices_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2384575 entries, 0 to 2384574
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   RowId             object
 1   Date              object
 2   SecuritiesCode    int64
 3   Open              float64
 4   High              float64
 5   Low               float64
 6   Close             float64
 7   Volume            int64
 8   AdjustmentFactor  float64
 9   ExpectedDividend  float64
 10  SupervisionFlag   bool
 11  Target            float64
dtypes: bool(1), float64(7), int64(2), object(2)
memory usage: 202.4+ MB

In [12]:
secondary_stock_prices_df.head()

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1305,2017-01-04,1305,1594.0,1618.0,1594.0,1615.0,538190,1.0,NaN,False,-0.001855
1,20170104_1306,2017-01-04,1306,1575.0,1595.0,1573.0,1593.0,2494980,1.0,NaN,False,-0.000627
2,20170104_1308,2017-01-04,1308,1557.0,1580.0,1557.0,1578.0,526100,1.0,NaN,False,-0.001900
3,20170104_1309,2017-01-04,1309,28810.0,29000.0,28520.0,28780.0,403,1.0,NaN,False,0.005237
4,20170104_1311,2017-01-04,1311,717.0,735.0,717.0,734.0,5470,1.0,NaN,False,0.001359

### Trades

In [7]:
trades_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712 entries, 0 to 1711
Data columns (total 56 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Date                                 1712 non-null   object
 1   StartDate                            765 non-null    object
 2   EndDate                              765 non-null    object
 3   Section                              765 non-null    object
 4   TotalSales                           765 non-null    float64
 5   TotalPurchases                       765 non-null    float64
 6   TotalTotal                           765 non-null    float64
 7   TotalBalance                         765 non-null    float64
 8   ProprietarySales                     765 non-null    float64
 9   ProprietaryPurchases                 765 non-null    float64
 10  ProprietaryTotal                     765 non-null    float64
 11  ProprietaryBalance                   765 non-null    float64
 12  BrokerageSales                       765 non-null    float64
 13  BrokeragePurchases                   765 non-null    float64
 14  BrokerageTotal                       765 non-null    float64
 15  BrokerageBalance                     765 non-null    float64
 16  IndividualsSales                     765 non-null    float64
 17  IndividualsPurchases                 765 non-null    float64
 18  IndividualsTotal                     765 non-null    float64
 19  IndividualsBalance                   765 non-null    float64
 20  ForeignersSales                      765 non-null    float64
 21  ForeignersPurchases                  765 non-null    float64
 22  ForeignersTotal                      765 non-null    float64
 23  ForeignersBalance                    765 non-null    float64
 24  SecuritiesCosSales                   765 non-null    float64
 25  SecuritiesCosPurchases               765 non-null    float64
 26  SecuritiesCosTotal                   765 non-null    float64
 27  SecuritiesCosBalance                 765 non-null    float64
 28  InvestmentTrustsSales                765 non-null    float64
 29  InvestmentTrustsPurchases            765 non-null    float64
 30  InvestmentTrustsTotal                765 non-null    float64
 31  InvestmentTrustsBalance              765 non-null    float64
 32  BusinessCosSales                     765 non-null    float64
 33  BusinessCosPurchases                 765 non-null    float64
 34  BusinessCosTotal                     765 non-null    float64
 35  BusinessCosBalance                   765 non-null    float64
 36  OtherInstitutionsSales               765 non-null    float64
 37  OtherInstitutionsPurchases           765 non-null    float64
 38  OtherInstitutionsTotal               765 non-null    float64
 39  OtherInstitutionsBalance             765 non-null    float64
 40  InsuranceCosSales                    765 non-null    float64
 41  InsuranceCosPurchases                765 non-null    float64
 42  InsuranceCosTotal                    765 non-null    float64
 43  InsuranceCosBalance                  765 non-null    float64
 44  CityBKsRegionalBKsEtcSales           765 non-null    float64
 45  CityBKsRegionalBKsEtcPurchase        765 non-null    float64
 46  CityBKsRegionalBKsEtcTotal           765 non-null    float64
 47  CityBKsRegionalBKsEtcBalance         765 non-null    float64
 48  TrustBanksSales                      765 non-null    float64
 49  TrustBanksPurchases                  765 non-null    float64
 50  TrustBanksTotal                      765 non-null    float64
 51  TrustBanksBalance                    765 non-null    float64
 52  OtherFinancialInstitutionsSales      765 non-null    float64
 53  OtherFinancialInstitutionsPurchases  765 non-null    float64
 54  OtherFinancialInstitutionsTotal      765 non-null    float64
 55  OtherFinancialInstitutionsBalance    765 non-null    float64
dtypes: float64(52), object(4)
memory usage: 749.1+ KB

In [15]:
trades_df.head()

TypeError: 'DataFrame' object is not callable